

<ion-content padding>
 <form #form="ngForm" [formGroup]="logform" (ngSubmit)="loginform()">
    <div>
        <div align = "center" style="margin-top: 3%">
            <ion-label position="floating" id="dheading" style="margin-top:5%;font-size: xx-large;color:white">GET-METER</ion-label>
        </div>

        <div align = "center" style="margin-top: 4%"> 
            <ion-label position="floating" id="dtitle" style="margin-top:5%;font-size:x-large ;color:white">Login</ion-label>
        </div>

        <div style="margin-top: 10%;margin-left: 6%">
            <div style="margin-left: 3%;width:85%; margin-right: 2%;margin-top: 3%">
                <ion-input class="tbox" type="email" id="username" placeholder="  Username (Email)" formControlName="email" name="email" required> </ion-input>
            </div>
        
            <div style="margin-left: 3%;width:85%; margin-right: 2%;margin-top: 3%">
                <ion-input class="tbox" type="password" id="password"  placeholder="  Password" formControlName="password" name="password" required> </ion-input>
            </div>
        </div>
        <div style="margin-top:2%" align = "center">
            <ion-checkbox checked="true">Remember me</ion-checkbox>
            <ion-label class="statelabels" style="margin-left:3%">Remember Me</ion-label>
            
        </div>
        
        <div padding align = "center">
            <ion-button class="loginbutton" style="width:60%;color:whitesmoke" type="submit">LOGIN</ion-button>
                
        </div>

        <div align = "center" >
            <ion-label class="linklabels"><a  [routerLink]="['/password-reset']">Forget Password?</a></ion-label>
        </div>

        <div align = "center" style="margin-top:5%">
            <ion-label class="statelabels" style="float:left">Don't You Have An Account? <a class="linklabels"  [routerLink]="['/register']">Sign-Up</a></ion-label>
            
        </div>
            
  
    </div>
 </form>
    
</ion-content>
