.tbox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}

.loginbutton{
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    color: #0174DF;
}
  

.linklabels{
    color: #2E9AFE;
    width: 100%;
}

.statelabels{
    color:whitesmoke;
    width: 100%;
}