
.tbox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
}

.borders{
    
    border: 0.5px solid #A9D0F5;
    
}


#startbtn{
    
    margin: 8px 0;
    box-sizing: border-box;
    background-color: aqua;
}

